<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="icon" href="images/header-logo.png" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body data-spy="scroll" data-target=".menu" data-offset="150">
    <!-- back to top start -->
	<div id="back-top-btn">
		<i class="fa fa-chevron-up"></i>
	</div>
	<!-- back to top end -->

	<!-- Preloader Start -->
	<div class="preloader">
		<div class="loader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- Preloader end -->

    <!--********************
     navbar-part start
    ********************-->
    <div class="posi">
        <nav id="nav-part" class="navbar header-nav other-nav full_nav sticky-top menu navbar-expand-md">

            <div class="container">

                <a class="navbar-brand" href="index.html#"><img src="images/header-logo.png" class="img-fluid logo-color" alt="logo">
                    <img src="images/header-logo.png" class="img-fluid logo-white1" alt="logo"></a>
                <div class="logo-top-w">
                    <a class="navbar-brand" href="index.html#"><img src="images/header-logo.png" class="img-fluid logo-white" alt="logo"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item color">
                            <a class="nav-link active" href="index.html#banner-part">Home</a>
                        </li>
                        <li class="nav-item color">
                            <a class="nav-link" href="index.html#demo-part">Unique Demos</a>
                        </li>
                        <li class="nav-item color-w">
                            <a class="nav-link" href="index.html#features-part">Support </a>
                        </li>
                        <li class="nav-item color-w">
                            <a class="nav-link" href="index.html#theme-part">Other Themes</a>
                        </li>
                    </ul>
                    <div class="casino-btn">
                        <a href="https://themeforest.net/search/ingenious_team" class="btn-4 yellow-btn">Purchase Theme</a></div>
                </div>
            </div>
        </nav>
    </div>
    <!--********************
     navbar-part end
    ********************-->

    <!--********************
     banner-part start
    ********************-->
    <section id="banner-part" class="banner-part">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 text-left banner-new-text">
                    <div class="banner-center">
                        <p>bootstrap 4.x</p>
                        <h1>Gambling</h1>
                        <h4>HTML5 Template</h4>
                        <div class="banner-btn">
                            <a class="" href="index.html#demo-part">view demo</a></div>
                    </div>
                </div>


                <div class="col-md-7 offset-md-1 banner-top">
                    <div class="banner-new">
                        <img src="images/banner-desktop-image.png" class="img-fluid" alt="heading-shape">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--********************
     banner-part end
    ********************-->

    <!--********************
     Demo-Part Start
    ********************-->
    <section id="demo-part" class="section demo-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center header color-1">
                    <h3>all demo</h3>
                    <p class="demo-pera">You can get al unique demos from here, And you can chose also unique demo which is fitted for your needs.</p>
                </div>
            </div>
            <div class="row first-row justify-content-center text-center">
               
                <div class="col-md-5">
                    <div class="color-1">
                       <div class="demo-section">
                        <a href="demo/index.html">
                            <img src="images/Demo-Page-01.png" class="img-fluid" alt="img">
                        </a>
                        <div class="overlay">
                            <a href="demo/index.html" target="_blank">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        </div>
                        <h4>home page</h4>
                    </div>
                </div>
                <div class="col-md-5">
                   <div class="color-1">
                       <div class="demo-section">
                        <a href="demo/about-us.html">
                            <img src="images/Demo-Page-02.png" class="img-fluid" alt="img">
                        </a>
                        <div class="overlay">
                            <a href="demo/about-us.html" target="_blank">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        </div>
                       <h4>About us page</h4>
                    </div>
                   
                </div>
            </div>
            <div class="row second-row justify-content-center text-center">
                                <div class="col-md-5">
                                <div class="color-1">
                       <div class="demo-section">
                        <a href="demo/games.html">
                            <img src="images/Demo-Page-03.png" class="img-fluid" alt="img">
                        </a>
                        <div class="overlay">
                            <a href="demo/games.html" target="_blank">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        </div>
                        <h4>Game page</h4>
                    </div>
                     
                </div>
                <div class="col-md-5">
                   <div class="color-1">
                       <div class="demo-section">
                        <a href="demo/tournaments.html">
                            <img src="images/Demo-Page-04.png" class="img-fluid" alt="img">
                        </a>
                        <div class="overlay">
                            <a href="demo/tournaments.html" target="_blank">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        </div>
                        <h4>tournaments page</h4>
                    </div>                     
                </div>
            </div>
            <div class="row third-row justify-content-center text-center">
              
                <div class="col-md-5">
                   <div class="color-1">
                       <div class="demo-section">
                        <a href="demo/faq.html">
                            <img src="images/Demo-Page-05.png" class="img-fluid" alt="img">
                        </a>
                        <div class="overlay">
                            <a href="demo/faq.html" target="_blank">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        </div>
                        <h4>faq page</h4>
                    </div>                    
                </div>
                <div class="col-md-5">
                    <div class="color-1">
                       <div class="demo-section">
                        <a href="demo/contact-us.html">
                            <img src="images/Demo-Page-06.png" class="img-fluid" alt="img">
                        </a>
                        <div class="overlay">
                            <a href="demo/contact-us.html" target="_blank">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        </div>
                        <h4>Conatct page</h4>
                    </div>                    
                </div>
            </div>
            <div class="row fourth-row justify-content-center text-center">
            
                <div class="col-md-5">
                   <div class="color-1">
                       <div class="demo-section">
                       <a href="demo/404-page.html">
                            <img src="images/Demo-Page-07.png" class="img-fluid" alt="img">
                        </a>
                        <div class="overlay">
                            <a href="demo/404-page.html" target="_blank">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                        </div>
                        <h4>404 page</h4>
                    </div>                    
                    
                </div>
            </div>
        </div>
    </section>
    <!--********************
     Demo-Part End
    ********************-->



    <!--********************
     Features-Part Start
    ********************-->

    <section id="features-part" class="features-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center header color-1">
                    <h3>Fully Responsive & Lots of Features</h3>
                    <p class="demo-pera">All of functions of your website will work on almost all devices: desktops, laptops, ipads, iphones, android and you’ll get lots of features</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 feature-left">
                    <div class="feature-image">
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row feature-icon">
                        <div class="col-md-4">
                            <ul>
                                <li><img src="images/bootstrape-image.png" class="img-fuide" alt="img"></li>
                                <li><img src="images/html-image.png" class="img-fuide" alt="img"></li>
                                <li><img src="images/css-image.png" class="img-fuide" alt="img"></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><img src="images/w3c-image.png" class="img-fuide" alt="img"></li>
                                <li><img src="images/jquery-image.png" class="img-fuide" alt="img"></li>
                                <li><img src="images/fontawesome-image.png" class="img-fuide" alt="img"></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><img src="images/google-font-image.png" class="img-fuide" alt="img"></li>
                                <li><img src="images/clean-code-image.png" class="img-fuide" alt="img"></li>
                                <li><img src="images/documentation-image.png" class="img-fuide" alt="img"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
    </section>

    <!--********************
     Features-Part End
    ********************-->


    <!--********************
     theme-part start
    ********************-->
    <section id="theme-part" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center header color-1">
                    <h3>Other HTML Themes</h3>
                    <p>(You may also like our another themes)</p>
                </div>
            </div>
            <div class="row m-0 responsive">
                <div class="col-md-12">
                    <div class="theme-item">
                        <div class="theme-img">
                            <img class="w-100" src="images/helloween.jpg" alt="theme1">
                            <div class="theme-details">
                                <div class="theme-over">
                                    <a href="http://preview.themeforest.net/item/allhallows-halloween-html-template/full_screen_preview/22744693">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="theme-item">
                        <div class="theme-img">
                            <img class="w-100" src="images/napp.jpg" alt="theme1">
                            <div class="theme-details">
                                <div class="theme-over">
                                    <a href="http://preview.themeforest.net/item/napp-app-landing-html-template/full_screen_preview/22628847">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="theme-item">
                        <div class="theme-img">
                            <img class="w-100" src="images/unity.jpg" alt="theme1">
                            <div class="theme-details">
                                <div class="theme-over">
                                    <a href="http://preview.themeforest.net/item/uniti-corporateagency-bootstrap-4-template/full_screen_preview/22400750">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="theme-item">
                        <div class="theme-img">
                            <img class="w-100" src="images/learned.jpg" alt="theme1">
                            <div class="theme-details">
                                <div class="theme-over">
                                    <a href="http://preview.themeforest.net/item/learned-education-html-template/full_screen_preview/22067556">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="theme-item">
                        <div class="theme-img">
                            <img class="w-100" src="images/tweetbird.jpg" alt="theme1">
                            <div class="theme-details">
                                <div class="theme-over">
                                    <a href="http://preview.themeforest.net/item/tweetsbird-personal-portfolio-html-template/full_screen_preview/21849108">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="theme-item">
                        <div class="theme-img">
                            <img class="w-100" src="images/appsi.jpg" alt="theme1">
                            <div class="theme-details">
                                <div class="theme-over">
                                    <a href="http://preview.themeforest.net/item/appsiapp-landing-html-template/full_screen_preview/21314541">
                                        <i class="fas fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="casino-btn text-center" style="margin-top: 30px;">
                <a href="https://themeforest.net/user/ingenious_team/portfolio" class="btn-4 yellow-btn">Browse All</a></div>
        </div>
    </section>
    <!--********************
     theme-part end
    ********************-->

    <!--********************
     footer-part start
    ********************-->
    <section id="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <p>Copyright &copyright 2019. All rights reserved by <span>Ingenious_team</span></p>
                </div>
                <div class="col-lg-6 col-md-5 text-right">
                    <a href="https://themeforest.net/search/ingenious_team">Purchase Theme <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>

            </div>
        </div>
    </section>
    <!--********************
     footer-part end
    ********************-->




    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/SmoothScroll.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
